.container{
    background-color: azure;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
    "nav nav nav nav nav"
    "aside article article article article"
    "footer footer footer footer footer";
    grid-gap: 1em;
    height: 100vh;
}

nav{
    background-color: brown;
    grid-column: 1 / span 5;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 40px;
    grid-template-areas: "Home About Contact Logo";
}


#logo{
    justify-self: end;
    background-color: aquamarine;
}


aside{
    grid-column: 1 /span 1;
    grid-row: 2/span 3;
    background-color: gray;
}

main{
    grid-row: 2/span 3;
    grid-column: 2 /span 4;
    background-color: rgb(156, 116, 67);
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

article {
    margin: 10px;
    background-color: wheat;
}

footer{
    background-color: brown;
    grid-column: 1 / span 5;
}